/* ========================*/
/* Vendor-prefix */
/* ========================*/
$use-prefix-webkit: true;
$use-prefix-moz   : true;
$use-prefix-ms    : true;
$use-prefix-o     : true;

$use-ie-filter    : false;
$use-ie-expression: false;

$max-width-pc: 960px;
$max-width-tab: 820px;
$max-width-sp: 680px;

/* ========================*/
/* element */
/* ========================*/
h1,h2,h3,h4 {
  font-weight: bold;
  margin:0;
}

h1,h3 {
  font-size: 17px;
}

/* ========================*/
/* structure */
/* ========================*/
.ui-page {
  background:url(/img/sp/background.jpg);
  overflow: hidden!important;
}

.ui-header .logo {
  width: 300px;
  text-align: center;
}

.ui-content {
  padding: 0;
  position: relative;
  margin: 0 auto;
  max-width: $max-width-pc;
}

#main-contents {
  max-width: $max-width-sp;
}

#menu-list {
  display: none;
}

#menu-info {
  display: none;
}

.ui-footer {
  clear: both;
}

/* ========================*/
/* listview-custom */
/* ========================*/
.ui-collapsible .ui-listview {
  margin: -5px -23px;
}

.ui-listview {
  &.listview-margin-adjust {
    margin-bottom: 3px;
    margin-top: 0;
  }
  &.listview-margin {
    margin: 15px 0;
  }
  &.ganre-menu-adjust {
    margin: 0 0 15px;
  }
  .ui-li-icon {
    max-height: 25px;
    max-width: 25px;
    top: .5em;
  }
  .ui-li-static .ui-li-heading {
    margin-top: -4px;
  }
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{
  padding: 0 30px 0 87px;
  & .ui-li-heading {
    line-height: 1.1em;
    margin-top: 3px;
  }
  & .ui-li-aside {
  margin: 5px -70px;
  overflow: visible;
  width: 40%;
  white-space: normal;
  }
  & .ui-li-desc {
  line-height: 1.3em;
  }
}

.ui-li-has-thumb .ui-btn-inner, .ui-li-has-thumb .ui-btn-inner .ui-btn-text, .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
  height:83px;
}

.ui-li-has-arrow.ui-li-has-count .ui-li-count {
  right: 10px;
  margin-top: 13px;
}


/* ========================*/
/* common */
/* ========================*/
.aside-btn {
  height: 35px;
  vertical-align: top;
  width: 40px;
}

.aside-btn-position {
  margin: -33px -4px -7px 0;
  text-align: right;
}

.box {
  color: #fff;
  display: block;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
  &.non {
    @include gradient(#424242, #000);
    padding: 5px;
  }
  &.love {
    @include gradient(#ff6b6d, #c70523);
    padding: 5px;
  }
  &.action {
    @include gradient(#171ba6, #101132);
    padding: 5px;
  }
  &.otona {
    @include gradient(#FF1b82, #d9166b);
    padding: 5px;
  }
  &.eat {
    @include gradient(#FFb503, #dc9402);
    padding: 5px;
  }
  &.sports {
    @include gradient(#3bc2d2, #309fab);
    padding: 5px;
  }
  &.dorama {
    @include gradient(#9fcf00, #82aa00);
    padding: 5px;
  }
  &.faq {
    @include gradient(#424242, #000);
    padding: 5px;
  }
  &.saspense {
    @include gradient(#693d14, #2f1b09);
    padding: 5px;
  }
}

.box-description {
  @include border-radius("4px");
  background: #ffc970;
  margin: 5px;
  min-height: 80px;
  padding: 5px;
}

.center {
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.float-center {
  position:relative;
  overflow:hidden;
    .float-center-wrap {
      position:relative;
      float:left;
      left:50%;
    }
    .float-center-content {
      position:relative;
      float:left;
      left:-50%;
    }
}

.font-price {
  color: #cc0f17;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.font-free {
  color: #2e8c0d;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.font-divider {
  font-size: 20px;
}

.font-nav {
  font-size: 9px;
}

.btn-menu {
  @include gradient(#ffb542, #e59500);
  @include border-radius("10px");
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 8px 0px;
  margin: 5px 1px;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.genre-aside {
  @include border-radius("4px");
  font-size: 8px;
  line-height: .8em;
  padding: 0;
  text-align: center;
}

.nav-margin {
  margin-bottom: 19px;
}

.new-line {
  overflow: visible;
  white-space: normal;
}

.padding-off {
  padding: 0;
}

.padding-content {
  padding: 0 8px;
}

#socialmanga-menu .ui-grid-c a {
  display: block;
  width: 70px;
}

.ui-navbar {
  .ui-btn {
  height: 45px;
    .ui-btn-text {
      display: block;
      margin-top: -6px;
    }
  }
  .ui-btn-inner {
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
   height: 12px;
  }
}

.ui-btn-icon-top .ui-icon {
  background-image: url(/img/sp/smc_icon.png);
  background-color: transparent;
  background-size:auto 25px;
  -webkit-background-size:auto 25px;
  -moz-background-size:auto 25px;
  @include border-radius("0");
  box-shadow: 0px 0px 0px #000;
  display: block;
  height: 25px;
  margin-left: -15px!important;
  width: 30px;
  top: 2px!important;
    &.ui-icon-home {
      background-position: 3px;
    }
    &.ui-icon-create {
      background-position:-30px 0px;
    }
    &.ui-icon-read {
      background-position:-64px 0px;
    }
    &.ui-icon-search {
      background-position:-95px 0px;
    }
    &.ui-icon-love {
      background-position:-130px 0px;
    }
    &.ui-icon-action {
      background-position:-159px 0px;
    }
    &.ui-icon-otona {
      background-position:-193px 0px;
    }
    &.ui-icon-faq {
      background-position:-223px 0px;
    }
    &.ui-icon-eat {
      background-position:-260px 0px;
    }
    &.ui-icon-sports {
      background-position:-292px 0px;
    }
    &.ui-icon-dorama {
      background-position:-323px 0px;
    }
    &.ui-icon-menu {
      background-position:-356px 0px;
    }
    &.ui-icon-non {
      background-position:-384px 0px;
    }
    &.ui-icon-facebook {
      background-position:-415px 0px;
    }
    &.ui-icon-twitter {
      background-position:-445px 0px;
    }
    &.ui-icon-line {
      background-position:-479px 0px;
    }
}

/* ========================*/
/* socialmanga-menu */
/* ========================*/
#socialmanga-menu {
  .ui-btn-inner {
    font-size: 10px;
  }
  .ui-btn-text .sm-btn {
    display: block;
    margin-top: -10px;
    position: relative;
    text-align: center;
  }
  img {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

/* .cell-area
-------------*/
.cell-area {
  .ui-grid-a {
    height: 34px;
  }
  .cell-font-adjust {
    vertical-align: super;
    color: #5151cc;
    font-size: 12px;
  }
}

.cell-area .ui-block-a, .cell-area .ui-block-b {
  border-bottom:1px #bebebe solid;
  border-right:1px #bebebe solid;
}

.cell-area .cell-border-bottom {
  border-bottom:1px #bebebe solid;
  border-right:1px #bebebe solid;
}

/* ========================*/
/* PhotoSwipe */
/* ========================*/

.gallery { 
  list-style: none; 
  padding: 0; 
  margin: 0;
    &:after { 
      clear: both; 
      content: "."; 
      display: block; 
      height: 0; 
      visibility: hidden; 
    }
    li {
      float: left; 
      width: 33.33333333%;
      min-height: 120px;
        a { 
          display: block; 
          margin: 5px; 
          border: 1px solid #3c3c3c; 
        }
        img { 
          display: block;
          width: 100%;
          height: auto;
        }
    }
}

#Gallery1 .ui-content, #Gallery2 .ui-content { 
  overflow: hidden; 
} 

/* タブレットレイアウト : 681 px ～スタイルを継承。 */
@media only screen and (min-width: 681px) {
/*! img
-------------------------------------*/
  #menu-list {
    display: block;
    float: left;
    padding-left: 7px;
    max-width: 170px;
  }

  #main-contents {
    float: left;
    padding-left: 7px;
    min-width: 480px;
  }

  .ui-listview.ganre-menu-adjust {
    margin: 15px 0;
  }
}

/* デスクトップイアウト : 841 px ～スタイルを継承。 */
@media only screen and (min-width: 841px) {
  #menu-info {
    display: block;
    float: left;
    padding-left: 7px;
    max-width: 265px;
  }
  #app-info-sp {
    display: none;
  }
}

